*{
    box-sizing:border-box ;
}

body
{
    font-family: 'Moo Lah Lah', cursive;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color:floralwhite;

}

.grs-btn
{
    float: left;
    padding: 8px;
}
#menu{

height: 90px;
padding: 0 20px;
background-color: #dddddd;

}
#logo{

    font-size:30px ;
    line-height: 75px;
    color:violet;
    float: left;
}
nav{

    float:right;
    line-height:80px ;
}
nav a:link
{

text-decoration: none;
margin-right:25px ;
color: violet;
}
nav a:hover
{

border-bottom: 2px solid #003666;

}
.ikon{

    margin-right: 8px;
    font-size:16px ;
}
#anasayfa
{

height: 400px;
background-image: url("../odev/yas.jpg");
background-size:cover ;
background-position: center;
background-attachment:fixed ;
}
#perde{
  height: 400px;
  background-color:rgb(242, 163, 163)42, 163, 163);
  opacity:0.99;

}
.hakdivtext{
    font-size: 50px;
 font-family: 'Caveat', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Rubik Burned', cursive;
    text-align: center;
}
.hakdivalt{
     text-align: center;
  font-family:serif;
    color: rgb(0, 114, 132);
        
}
table {
  border-collapse: collapse;
  width: 75%;
    margin: 0 5px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2;}
 tr:hover {background-color: violet;}
 
  


/*<!--eğtim bilgilerimm styl -->*/

   .marginAuto {margin:0 450px;
} 

ul.timeline {
  list-style-type:circle;
  position: relative;
    
    
}

ul.timeline:before {
  content: ' ';
  background-color: violet;
  display: inline-block;
  position: absolute;
  left: 28.8px;
  width: 3px;
  height: 100%;
 
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
 #none
{
    float: right;
    text-decoration: none;
}
.float-right 
{
    float: right;
    text-decoration: line-through;
}

.orta-H1
{
    text-align: center;
}

.footer {
    
  background-color: #563d7c;
  color: white !important;
  font-style: fixed;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer a{
      color: lightskyblue;
   
}

/*<!-- sehrim sayfasının style-->*/
.sehrimSlider
{
  background-size: cover !important;
  height: 100% !important;
  margin-bottom:0px !important;
  padding:10px !important;
}

h1.baslik {
  color:#563d7c;
  margin-bottom:2rem !important;
  font-weight: bold;
}

div > a:hover {
  color: white !important;
  text-decoration: none !important;
}

section > .baslik {
  color:#563d7c;
  margin-bottom:2rem !important;
}



/*<!-- slide sayfasının style-->*/


.button {
  background-color: white; /* Green */
  border:none;
  color: blue;
    padding-right: 20px;    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 1px;
 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 0 2px;
  cursor: pointer;

    
}




/*anasayfa */
.button1 :hover {
  background-color: black;
  color: red;
}

.marginAuto {
  margin:auto;
}
#hakkinda
{
  height: 100% !important;
  border-radius: 0% !important;
  margin-bottom:0 !important;

}
.baslik {
  font-size: 40px;
  color:#563d7c !important;
  font-weight: bold;
}

.anasayfaJumbotron{
  background: url("../odev/yasmin.jpeg") no-repeat center center fixed;
  background-size: cover !important;
  height: 100% !important;
  border-radius: 0% !important;
  margin-bottom:0 !important;
  opacity: 0.5;
}


.sehrimJumbotron{
  
  background-size: cover !important;
  height: 100% !important;
  border-radius: 0% !important;
  margin-bottom:0 !important;
  opacity: 0.5;
}



.sehrimSlider{
  margin-bottom: 0px !important;
}

.sehrimSlider
{
  background-size: cover !important;
  height: 100% !important;
  margin-bottom:0px !important;
  padding:10px !important;
}
div > a:hover {
  color: white !important;
  text-decoration: none !important;
}
section > .baslik {
  color:#563d7c;
  margin-bottom:2rem !important;
}

/*sosyal medya */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.lblerr {

  display: none;
  color:#c9a6ff;
  font-weight: bold;
}

.fa {
  padding: 20px;
  font-size: 30px !important;
  width: 65px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}


#cinsiyet {
  display:none;
}

#iletisimFormuDiv {
  margin:auto; 
  background-color: #563d7c !important;
  border: 1px solid black;
}

#iletisimBilgi {
  margin:auto; 
  background-color: #563d7c !important;
  border: 1px solid black;
}

#loginSayfasi {
  margin:auto; 
  background-color: #563d7c !important;
  border: 1px solid black;
}

#adminSayfasi {
  margin:auto; 
  background-color: #563d7c !important;
  border: 1px solid black;
}
/*mirasimiz */

.mirasimizJumbotron{
  background: url("../odev/yas.jpg") no-repeat center center fixed;
  background-size: cover !important;
  height: 100% !important;
  border-radius: 20% !important;
  margin-bottom:0 !important;
  opacity: 0.5;
}

.mirasimizJumbotronicerik{
  background-size: cover !important;
  height: 100% !important;
  border-radius: 0% !important;
  margin-bottom:0 !important;
  padding:0px !important;
}